header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    padding: 7px 5%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_h1{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.header_ul{
    display: flex;
    align-items: center;
    gap:6rem;
    list-style: none;
}
.header_a{
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header_a:hover {
    color: #2768d9; 
}
.darkmode{
    border-width: 0;    
    padding-inline:0; 
    padding-block:0;   
    background-color: transparent;
}
.mobile_menu{
    display: none;
}
.menu{
    display: none;
}
@media (max-width:600px){
    header{
        width: 100%;
        position: relative;
        padding: 10px 3%;
        transition: 0.2s;
        box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    }
    .header{
        display: flex; 
    }
    .nav{
        display: none;
    }    
    .header_a{
        font-size: 0.5rem;
        padding: 5px 5px;
    }
    .header_h1{
        font-size: 0.6rem;    
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .header_ul{            
        gap:0rem;        
    } 
    .darkmode{
        height: 15px;        
        width: 15px;
    } 
    .mobile_menu{
        display: block;
    }
    .menu{
        display: block;
    }
    .menu{
        display: block;
        background-color: var(--bg-color);
    }  
}
@media(min-width:600px){
    header{
        position: fixed;  
        padding: 10px 3%;
        transition: 0.2s;
        box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    }
    .header_a{
        font-size: 0.7rem;
        padding: 5px 5px;
    }
    .header_h1{
        font-size: 0.7rem;    
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }      
    .header_ul{            
        gap:2rem;        
    }      
    .mobile-menu div{
        margin-top: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }
    .mobile-menu a{
        display: block;
        padding: 0.75rem 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem; 
        font-weight: 500;
        color: var(--text-color);
    }
    .mobile-menu a:hover{
        background-color: rgb(55 65 81);
    }
}
@media(min-width:768px){
    .header_h1{
        font-size: 1.1rem;
    }
    .header_a {
        font-size: 0.7rem;
    }

    .header_ul{
        gap:2rem;
    }
}
@media(min-width:1024px){
    .header_h1{
        font-size: 1.3rem;
    } 
    .header_a {
        font-size: 1rem;
    }
    .header_ul{
        gap:2.5rem;
    }
}
@media(min-width:1280px){
    .header_h1{
        font-size: 1.5rem;
    }
    .header_a{
        font-size: 1.3rem;
    }
    .header_ul{
        gap:3rem;
    }
}
@media(min-width:1536px){
    .header_h1{
        font-size: 1.75rem;
    }
}