.horizontal_scroll_container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffffff73, 0px 0px 10px rgba(94, 104, 121, 0.288);
}   

.horizontal_scroll_content {
    display: flex;
    animation: scroll 30s linear infinite;
    animation-play-state: running;
    flex-shrink: 0;
}

.horizontal_scroll_item {
    /* display: inline-block; */
    /* margin-right: 10px; */
    width: 150px;
    height: 100px;
    /* position: relative; */
}

.horizontal_scroll_content:hover {
    animation-play-state: paused;
}

.horizontal_scroll_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.head{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
@media (max-width: 1024px) {
    .horizontal_scroll_item {
        width: 90px;
        height: 60px;
    }
}
@media (max-width: 768px) {
    .horizontal_scroll_item {
        width: 75px;
        height: 50px;
    }
}
@media (max-width: 600px) {
    .horizontal_scroll_item {
        width: 45px;
        height: 30px;
    }
}