@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap');

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
    
}
.menu{
    border: none;
}
:root {
    --main-color: #2768d9; 
    --bg-color: #fff;
    --text-color:#0f0c27;
    --hover: hsl(260, 100%, 51%);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941 rem;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;    
} 
body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    padding: 7px 5%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section{
    padding: 50px 10%;
}
header h1{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header ul{
    display: flex;
    align-items: center;
    gap:6rem;
    list-style: none;
}
header a {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header a:hover {
    color: #2768d9; 
}
#darkmode{
    border-width: 0;    
    padding-inline:0; 
    padding-block:0;   
    background-color: transparent;
}
#profile{
    height: 100vh;
    width: 100vw;
    background-color: rgba(#fff, #fff, #fff, 100%);
}
#home{    
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    animation: slide-in-from-button 2s ease-out;
    /* box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6); */
}
.home-img img{
    height: 10rem;
    animation: logo-spin infinite 20s linear;
    filter: drop-shadow(0 0 2em #61dafbaa);
}
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;    
    padding: 40px 0px;
    background-color: var(--bg-color);
}
footer ul{
    display:flex;
    gap:20px;
    justify-content: center;    
    
}
footer ul img{
    height: 40px;
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 5px;
}
footer ul h3{
    font-size: 1rem;
}
.copyright{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    justify-content: center;
    margin: 0px auto;
}
@keyframes logo-spin{
    from{
        transform: rotate(0deg);        
    }
    to{
        transform: rotate(260deg);
    }
}
.social-network{
    display: flex;
    flex-direction: column;
    img{
        height: 3rem;
    }
}
@keyframes slide-in-from-button {
    from {
      opacity: 0;
      transform: translateX(10%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.head{
    text-align: center;
    font-size: 1.5rem;
}
.personal-main{
    margin-top: 5rem;
    font-size: 1.25rem;
}
.personal-footer{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    gap:0.25rem;
}
.personal-info{
    display: flex;
    gap: 10px;
    justify-content: start;    
    font-size:1.25rem;
    width: 30rem;
}
.skills{
    display: flex;
    width: 100%;
    margin: 40px 0px;
    flex-direction: column;
    justify-content: space-between;
    ul{
        display:flex;
        flex-direction: column;
        gap:0px;
    }
}
@keyframes animate{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }    
}
.skills img{
    object-fit:contain;
}
.skill-head{
    display: flex;
    width: 30rem;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.persent{
    position: absolute;
    bottom: 10;
    left: 0;    
    height: 0.5rem;
    background-color:#2768d9;   
}
.animate{
    animation: persent 3s;
}

.full-persent{
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    height: 0.5rem;
    width: 100%;
    background-color: var(--text-color);
}
.skill{   
    position: relative;
    margin-bottom: 1rem;        
    span{
        font-size: 25px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.projects{
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap:1rem;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:5rem;
}
.card {
    background-color: transparent;
    width: 300px;
    height: 350px;    
    perspective: 1000px;
  }
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .card:hover .inner {
    transform: rotateX(180deg);
  }

  .project-item {
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .project-item img{
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #5B99C2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .project-item:hover .project-content{
    transform: rotateX(0deg);
  }
  
  .content-title {
    margin: 0;
    font-size: 24px;
    color: #222;
    font-weight: 700;
  }
  
  .project-item:hover img {
    scale: 0;
  }
  
  .content-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #444;
    line-height: 1.4;
  }
  

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
     /* Safari */
    backface-visibility: hidden;
    img{
        margin-top: 30px;
        width: 5rem;
    }
  }
  
  
  .front {
    background-color: #A6B37D;
    color: black;
    
  }
  
  .back {
    /* background-color: dodgerblue; */
    background-color: #B99470;
    color: black;
    rotate: 180deg;
    transform: rotateY(180deg);
  }
  #contact{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 400px;
    margin: 10px auto;
    span{
        font-size: 1.25rem;
    }
}
.menu{
    display: none;
}
.input{
    padding: 10px;
}
textarea{
    height: 200px;
    resize: vertical;
    cursor: se-resize;
}
.btn-send{
    padding: 5px 10px;
    font-size: 1.25rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 10px;
    color: var(--bg-color);
}
#mobile-menu{
    display: none;
}
#container{
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap:1rem;        
}
.item {
    position: relative;
    overflow: hidden; /* Ensure no overflow from the swipe container */
    border-radius: 1rem;
    width:  350px;
    height:200px;   
}
.item h3 {
    padding: 0;    
}
.swipe {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    transition: transform 2s ease;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)); /* Gradient with opacity */    
}
.swipe span {
    opacity: 0;
    transition: opacity 2s ease;
}
.item:hover .swipe {
    transform: translateY(-30px);
}
.item:hover .swipe span {
    opacity: 1;
}
.img {
    width: 100%;
    height: 100%;
    border-radius:1rem;        
}
@keyframes persent{
    0%{
        width: 0;
    }
    persent{
        width: 100%;
    }
}
@media (max-width:600px) {
    #mobile-menu{
        display: block;
    }
    #mobile-menu div{
        margin-top: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }
    #mobile-menu a{
        display: block;
        padding: 0.75rem 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem; 
        font-weight: 500;
        color: var(--text-color);
    }
    #mobile-menu a:hover{
        background-color: rgb(55 65 81);
    }
    .menu{
        display: block;
    }
    header{
        width: 100%;
        position: relative;
        padding: 10px 3%;
        transition: 0.2s;
        box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    }
    .header{
        display: flex; 
    }
    .nav{
        display: none;
    }    
    header a{
        font-size: 0.75rem;
        padding: 5px 5px;
    }
    header h1{
        font-size: 1rem;    
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .menu{
        display: block;
        background-color: var(--bg-color);
    }        
    
    
    /* header ul{
        display: flex;
        flex-direction: column;
        gap:3px;        
    }     */
    #darkmode img{
        height: 15px;        
        width: 15px;
    }    
    #home{
        width: 100%;
        margin: 0;
        padding: 10px;
        grid-template-columns: 0.5fr 3fr;    
    }
    .personal-info{
        width: 100%;
    }
    .home-img img{
        height: 100px;
    }
    .home-info{
        font-size: 14px;
    }
    .social-network img{
        height: 40px;
    }
    .personal-main{
        font-size: 0.8rem;
    }
    .skills{
        flex-direction: column;        
        width: 100%;
        margin: 0;
    }
    .skill-head{
        width: 100%;
    }
    .full-persent{
        width: 100%;
    }
    .animate{
        animation: persent 3s;
    }
    #skills{
        margin: 0;        
        padding: 10px;
        width: 100%;  
    }
    .skill{
        width: 100%;            
        /* font-size: 1rem; */
    }
    section{
        margin: 10px;
        padding: 0;
    }
    .cards{
        flex-direction: column;
        padding: 10px;
    }
    .card{
        width: 100%;
    }
    #contact{
        padding: 10px;
        margin: 0;
    }
    .form{
        width: 100%;
        padding: 10px;
        margin: 0;
    }
}
@media (min-width:600px) {  
    header{
        position: fixed;  
        padding: 10px 3%;
        transition: 0.2s;
        box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    }
    header a{
        font-size: 1rem;
        padding: 5px 5px;
    }
    header h1{
        font-size: 1.2rem;    
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }      
    header ul{            
        gap:3px;        
    }      
}
@media (max-width:768px) {  
    .cards{
        flex-direction: column;        
    }
    .card{
        width: 100%;
    }
}
@media (min-width:768px) {  
    header h1{
        font-size: 1.3rem;
    }
    header a {
        font-size: 0.8rem;
    }

    header ul{
        gap:3.5rem;
    }
    .skill-head{
        width: 100%;
    }
}
@media (min-width:1024px) {
    header h1{
        font-size: 1.5rem;
    } 
    header a {
        font-size: 1rem;
    }
    header ul{
        gap:4rem;
    }
    .skill-head{
        width: 25rem;
    }
    .skills{
        flex-direction: row;               
    }
    section{
        padding: 30px 5%;
    }    
}
@media (min-width:1280px) {
    header h1{
        font-size: 1.8rem;
    }
    header a {
        font-size: 1.1rem;
    }
    header ul{
        gap:4rem;
    }
    section{
        padding: 30px 10%;
    }
    
}
@media (min-width:1536px) {
    header h1{
        font-size: 1.75rem;
    }
}
